# dev/build outputs
dist
.output
.data
.nuxt
.nitro
.cache

dev/generated/**
!dev/generated/.gitignore

# dependencies
node_modules
target
bun.lockb
yarn.lock

# logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*

**/.env
**/.env.*

!.env.example
!**/.env.example

.direnv

# certificates
dev/localhost.pem
dev/localhost-key.pem
